{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{# Define environment of base image #}
{% set COMPUTE_URL_BASE = 'https://www.googleapis.com/compute/v1/' %}
{% set BASE_NAME = env['deployment'] %}

{# Define of addition Disk #}
{% macro diskName(diskObj) -%}{{ env["deployment"]}}-{{ diskObj["name"] }}-disk{%- endmacro %}

resources:
{# Disk property - SSD #}
{% for diskObj in properties["disks"] %}
- name: {{ diskName(diskObj) }}
  type: compute.v1.disk
  properties:
    zone: {{ properties["zone"] }}
    sizeGb: {{ diskObj["sizeGb"] }}
    type: {{ COMPUTE_URL_BASE }}projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/{{ diskObj["diskType"] }}
{% endfor %}

{# OS property #}
- name: {{ BASE_NAME }}
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: {{ COMPUTE_URL_BASE }}projects/{{ env['project'] }}/zones/{{ properties['zone'] }}/machineTypes/n1-standard-1
    serviceAccounts:
    - email: {{ env['project_number'] }}-compute@developer.gserviceaccount.com
      scopes:
      - "https://www.googleapis.com/auth/servicecontrol"
      - "https://www.googleapis.com/auth/cloud.useraccounts.readonly"
      - "https://www.googleapis.com/auth/devstorage.read_only"
      - "https://www.googleapis.com/auth/logging.write"
      - "https://www.googleapis.com/auth/monitoring.write"

    {# Both Disks configuration #}
    disks:  
    - deviceName: baseinstance-debian
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        diskName: {{ env["deployment"] }}-boot
        sourceImage: {{ COMPUTE_URL_BASE }}projects/{{ env["project"] }}/global/images/baseinstance-debian
    
    {% for diskObj in properties["disks"] %}
    - deviceName: {{ diskName(diskObj) }}
      type: PERSISTENT
      source: $(ref.{{ diskName(diskObj) }}.selfLink)
      autoDelete: false
    {% endfor %} 
    
    {# Network configuration #} 
    networkInterfaces:
    - network: global/networks/default
      subnetwork: regions/asia-southeast1/subnetworks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT

    {# Startup Script configuration #}
    metadata:
      items:
      {% for key, value in properties['metadata-from-file'].iteritems() %}
      - key: {{ key }}
        value: |
          {{ imports[value]|indent(10) }}
    {% endfor %}

outputs:
- name: vm_ip
  value: $(ref.{{ BASE_NAME }}.networkInterfaces[0].accessConfigs[0])